@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */

:root {
  --blue: #022FA0;
  --orange: #FF9F1A;
  --white: #FFFFFF;
}

.App {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--orange);
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.btn-blue {
  background: var(--blue);
  color: var(--white);
  font-weight: 500;
  border-radius: 180px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.btn-blue:hover {
  background: var(--white);
  color: var(--blue);
}

.line {
  width: 100px;
  height: 2px;
  background: var(--white);
  margin: auto;
}

/* Navbar */

.navbar {
  background: var(--orange);
}

/* Home */
.test {
  height: 100vh;
}

/* Media Queries */

@media (min-width: 768px) {
  #home-graphic {
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  #home-graphic {
    max-width: 50%;
  }
}
