@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */

:root {
  --blue: #022FA0;
  --orange: #FF9F1A;
  --white: #FFFFFF;
  --green: #19A673;
  --black: #000000;
}

body {
  max-height: calc(100vh - 114px);
}

.App {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--orange);
}

section {
  min-height: calc(100vh - 114px);
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.btn-blue {
  background: var(--blue);
  color: var(--white);
  font-weight: 500;
  border-radius: 180px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.center-btn {
  text-align: center;
}

.btn-blue:hover {
  background: var(--white);
  color: var(--blue);
}

.btn-white {
  background: var(--white);
  color: var(--black);
  font-weight: 500;
  border-radius: 180px;
  padding: 8px 20px;
  font-size: 1.2rem;
}

.btn-white:hover {
  background: var(--green);
  color: var(--white);
}

.btn-black {
  background: var(--black);
  color: var(--white);
  font-weight: 500;
  border-radius: 180px;
  padding: 8px 20px;
  font-size: 1.2rem;
}

.btn-black:hover {
  background: var(--green);
  color: var(--white);
}

.btn-green {
  background: var(--blue);
  color: var(--white);
  font-weight: 500;
  border-radius: 180px;
  padding: 8px 20px;
  font-size: 1.2rem;
}

.btn-green:hover {
  background: var(--green);
  color: var(--white);
}

.line {
  width: 100px;
  height: 2px;
  background: var(--white);
  margin: auto;
}

/* Navbar */

.navbar {
  background: var(--orange);
}

/* Work */
.card {
  background: var(--white);
}

/* Work animations */
/* Thanks to GitHub user IanLunn */

.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--blue);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:active {
  color: white;
}

.hvr-bounce-to-bottom:hover:before,
.hvr-bounce-to-bottom:focus:before,
.hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.hvrbox img {
  max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox .hvrbox-text {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179);
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

/* Contact */
.mail-graphic {
  width: 70%;
}

/* Media Queries */
@media (min-height: 800px) and (max-width: 768px) {
  #home-graphic {
    margin-top: 4rem !important;
  }
}

@media (max-width: 768px) {
  section {
    min-height: calc(100vh - 103px);
  }
}

@media (min-width: 768px) {
  #home-graphic {
    max-width: 75%;
  }

  .col {
    justify-content: center;
  }
}

/* 
@media (max-width: 992px) {
  .mail-graphic {
    width: 80%;
  }
  } */

@media (min-width: 992px) {
  #home-graphic {
    max-width: 40%;
  }

  #work-row {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  #work-row {
    width: 70%;
  }

  #lg-heading {
    font-size: 7rem;
  }

  #lg-sub-heading {
    font-size: 1.8rem;
  }
}

@media (min-width: 1400px) {
  #work-row {
    width: 60%;
  }
}

@media (min-width: 1601px) {
  #work-row {
    width: 100%;
  }
}